<!-- INICIO -->
<section class="w-full h-screen bg-black">
	<main class="w-full h-full flex gap-16 py-20">
		<aside class="bg-[#61047B] flex items-center h-full rounded-tr-2xl rounded-br-2xl px-28">
			<article class="text-9xl text-white flex flex-col gap-5">
				<div class="playfair italic font-bold leading-[116px]">
					<p>&nbsp;so</p>
					<span class="flex items-start w-fit h-fit"
						>think
						<div class="border-2 border-white rounded-full px-2 pb-0.5 mt-3 flex">
							<span class="text-xl">R</span>
						</div>
					</span>
				</div>
				<span class="text-[24px] montserrat ml-3">agência de marketing</span>
			</article>
		</aside>
		<section
			class="w-[50vw] h-full rounded-2xl bg-[url(/images/background-home.jpg)] bg-cover bg-center bg-center bg-no-repeat"
		></section>
	</main>
</section>
<!-- LAMINA 2 -->
<section class="w-full h-screen">
	<main class="w-full h-full flex flex-col items-center justify-center gap-44">
		<header class="w-full flex justify-center items-center gap-40 mr-60">
			<div class="relative">
				<aside class="absolute top-[-56px] right-[-28px]">
					<img src="/images/perguntou.gif" width="152" height="152" alt="Já se perguntou?" />
				</aside>
				<article class="text-8xl flex flex-col gap-2.5">
					<div class="playfair italic font-bold leading-[88px]">
						<p>&nbsp;so</p>
						<span class="flex items-start w-fit h-fit"
							>think
							<div class="border-[1px] border-black rounded-full px-2 py-0.5 mt-3 flex">
								<span class="text-base">R</span>
							</div>
						</span>
					</div>
					<span class="text-base montserrat ml-6">marketing que pensa</span>
				</article>
			</div>
			<span class="text-5xl font-bold leading-[62px]">
				<p>Já se perguntou</p>
				<p>do que Realmente</p>
				<p>sua empresa precisa?</p>
			</span>
		</header>
		<footer class="text-4xl">Vender mais? Aparecer mais? Se relacionar mais?</footer>
	</main>
</section>
<!-- LAMINA 3 -->
<section class="w-full h-screen">
	<main class="w-full h-full flex flex-col justify-center items-center gap-40">
		<header class="w-full flex items-center justify-center gap-36 mr-60">
			<img src="/images/stick-man.png" width="220" height="226" alt="O que fazer?" />
			<article class="montserrat flex flex-col gap-6">
				<p class="text-4xl font-bold leading-[52px]">Quais perguntas você tem feito<br />para melhorar sua empresa?</p>
				<span class="text-3xl flex flex-col gap-2">
					<p>Como melhorar minhas vendas?</p>
					<p>Como melhorar meu marketing?</p>
					<p>Como melhorar minha comunicacação?</p>
					<p>Como construir minha marca?</p>
				</span>
			</article>
		</header>
		<footer class="w-full mr-60">
			<main class="w-full flex items-center justify-center gap-28">
				<div class="relative">
					<aside class="absolute top-[-68px] right-[-1px]">
						<div class="max-w-[168px] z-0">
							<img src="/images/procurando.gif" width="200" height="200" alt="Como?" />
						</div>
					</aside>
					<article class="text-8xl flex flex-col gap-2.5 relative z-10">
						<div class="playfair italic font-bold leading-[88px]">
							<p>&nbsp;so</p>
							<span class="flex items-start w-fit h-fit"
								>think
								<div class="border-[1px] border-black rounded-full px-2 py-0.5 mt-3 flex">
									<span class="text-base">R</span>
								</div>
							</span>
						</div>
						<span class="text-base montserrat ml-6">marketing que pensa</span>
					</article>
				</div>
				<span class="text-4xl leading-[52px]">
					<p>Como melhorar o marketing da sua</p>
					<p>empresa? Qual o planejamento para</p>
					<p>os próximos 12 meses?</p>
				</span>
			</main>
		</footer>
	</main>
</section>
<!-- LAMINA 4 -->
<section class="w-full h-screen py-24">
	<main class="w-full h-full flex flex-col justify-between items-center">
		<header class="w-full flex justify-center items-center gap-12">
			<img src="/images/servicos.gif" width="250" height="152" alt="Já se perguntou?" />
			<span class="text-2xl"
				><span class="font-bold">Serviços |</span> Branding | Tráfego Pago | Conteúdo | Produção</span
			>
		</header>
		<footer class="w-full flex justify-center items-center gap-32">
			<div class="relative">
				<aside class="absolute top-[-44px] right-[30px]">
					<img src="/images/pensa.gif" width="70" height="152" alt="Já se perguntou?" />
				</aside>
				<article class="text-7xl flex flex-col gap-2.5">
					<div class="playfair italic font-bold leading-[68px]">
						<p>&nbsp;so</p>
						<span class="flex items-start w-fit h-fit"
							>think
							<div class="border-[1px] border-black rounded-full px-1 mt-1 flex">
								<span class="text-sm">R</span>
							</div>
						</span>
					</div>
					<span class="text-sm montserrat ml-4">marketing que pensa</span>
				</article>
			</div>
			<span class="text-3xl leading-[52px]">
				"Na Sothink, cada projeto começa com uma análise<br />
				estratégica das áreas da empresa. A partir desse<br />
				diagnóstico, oferecemos soluções personalizadas,<br />
				alinhadas às necessidades específicas de cada cliente —<br />
				afinal, cada negócio é único e vive realidades diferentes."
			</span>
		</footer>
	</main>
</section>
<!-- LAMINA 5 -->
<section class="w-full h-screen">
	<main class="w-full h-full flex flex-col items-center justify-center gap-16">
		<span class="text-6xl font-bold text-center lora leading-[64px]">
			<p>“Funil de venda”</p>
			<p>“Jornada do cliente”</p>
			<p>“Experiência de marca”</p>
			<p>“LTV - Lifetime Value”</p>
			<p>“IAs para Empresas”</p>
		</span>
		<div class="text-5xl playfair italic font-bold leading-[44px] w-fit">
			<p>&nbsp;so</p>
			<span class="flex items-start w-fit h-fit">think </span>
		</div>
	</main>
</section>
<!-- LAMINA 6 -->
<section class="w-full h-screen">
	<main class="w-full h-full flex flex-col justify-center items-center gap-16">
		<span class="athiti text-4xl">O que dizem nossos clientes</span>
		<footer class="lora">
			<div class="flex justify-center items-center gap-20 flex-wrap">
				{% for cliente in clientes -%}
				<article class="flex items-center gap-4 max-w-[388px]">
					<img src="{{ cliente.image }}" width="204" height="100" alt="Cliente Sothink" />
					<aside class="flex flex-col gap-2">
						<div class="flex flex-col leading-[14px]">
							<span class="text-lg font-bold">{{ cliente.name }}</span>
							<span class="font-bold">{{ cliente.company }}</span>
						</div>
						<span class="text-sm leading-[20px]">{{ cliente.text }}</span>
					</aside>
				</article>
				{%- endfor %}
			</div>
		</footer>
	</main>
</section>
<!-- LAMINA 7 -->
<section class="w-full h-auto py-20 bg-black relative">
	<aside class="bg-[#61047b] pt-1 pb-5 pr-6 pl-8 rounded-tr-2xl rounded-br-2xl absolute top-[40px] left-[0px]">
		<div class="text-6xl text-white playfair italic font-bold leading-[52px] w-fit">
			<p>&nbsp;so</p>
			<span class="flex items-start w-fit h-fit"
				>think
				<div class="border-[1px] border-white rounded-full px-1 flex">
					<span class="text-xs">R</span>
				</div>
			</span>
		</div>
	</aside>
	<main class="w-full h-full flex flex-col gap-32 justify-center items-center">
		<span class="athiti text-4xl text-white">Criação e produção de fotos e vídeos</span>
		<section class="flex gap-14">
			<video class="max-w-[250px]" controls loop muted autoplay preload="metadata" width="230" height="407">
				<source src="/videos/video.webm" type="video/webm" />
				Seu navegador não suporta reprodução de vídeo.
			</video>
			<video class="max-w-[250px]" controls loop muted autoplay preload="metadata" width="230" height="407">
				<source src="/videos/video.webm" type="video/webm" />
				Seu navegador não suporta reprodução de vídeo.
			</video>
			<video class="max-w-[250px]" controls loop muted autoplay preload="metadata" width="230" height="407">
				<source src="/videos/video.webm" type="video/webm" />
				Seu navegador não suporta reprodução de vídeo.
			</video>
		</section>
		<section class="flex gap-14 mt-28">
			<video class="max-w-[250px]" controls loop muted autoplay preload="metadata" width="230" height="407">
				<source src="/videos/video.webm" type="video/webm" />
				Seu navegador não suporta reprodução de vídeo.
			</video>
			<video class="max-w-[250px]" controls loop muted autoplay preload="metadata" width="230" height="407">
				<source src="/videos/video.webm" type="video/webm" />
				Seu navegador não suporta reprodução de vídeo.
			</video>
			<video class="max-w-[250px]" controls loop muted autoplay preload="metadata" width="230" height="407">
				<source src="/videos/video.webm" type="video/webm" />
				Seu navegador não suporta reprodução de vídeo.
			</video>
		</section>
	</main>
</section>
<!-- LAMINA 8 -->
<section class="w-full h-screen py-20 bg-black relative">
	<aside class="bg-[#61047b] pt-1 pb-5 pr-6 pl-8 rounded-tr-2xl rounded-br-2xl absolute top-[40px] left-[0px]">
		<div class="text-6xl text-white playfair italic font-bold leading-[52px] w-fit">
			<p>&nbsp;so</p>
			<span class="flex items-start w-fit h-fit"
				>think
				<div class="border-[1px] border-white rounded-full px-1 flex">
					<span class="text-xs">R</span>
				</div>
			</span>
		</div>
	</aside>
	<main class="w-full h-full flex flex-col gap-32 justify-center items-center">
		<span class="athiti text-4xl text-white">Criação de campanhas</span>
		<section class="flex gap-24">
			<video class="max-w-[560px]" controls loop muted autoplay preload="metadata" width="557" height="314">
				<source src="/videos/video.mp4" type="video/mp4" />
				Seu navegador não suporta reprodução de vídeo.
			</video>
			<video class="max-w-[560px]" controls loop muted autoplay preload="metadata" width="557" height="314">
				<source src="/videos/video.mp4" type="video/mp4" />
				Seu navegador não suporta reprodução de vídeo.
			</video>
		</section>
	</main>
</section>
<!-- LAMINA 9 -->
<section class="w-full h-screen py-20 bg-black relative">
	<aside class="bg-[#61047b] pt-1 pb-5 pr-6 pl-8 rounded-tr-2xl rounded-br-2xl absolute top-[40px] left-[0px]">
		<div class="text-6xl text-white playfair italic font-bold leading-[52px] w-fit">
			<p>&nbsp;so</p>
			<span class="flex items-start w-fit h-fit"
				>think
				<div class="border-[1px] border-white rounded-full px-1 flex">
					<span class="text-xs">R</span>
				</div>
			</span>
		</div>
	</aside>
	<main class="w-full h-full flex flex-col gap-32 justify-center items-center">
		<span class="athiti text-4xl text-white">Lançamentos</span>
		<section class="flex gap-12">
			<video class="max-w-[250px]" controls loop muted autoplay preload="metadata" width="230" height="407">
				<source src="/videos/video.webm" type="video/webm" />
				Seu navegador não suporta reprodução de vídeo.
			</video>
			<video class="max-w-[250px]" controls loop muted autoplay preload="metadata" width="230" height="407">
				<source src="/videos/video.webm" type="video/webm" />
				Seu navegador não suporta reprodução de vídeo.
			</video>
			<video class="max-w-[250px]" controls loop muted autoplay preload="metadata" width="230" height="407">
				<source src="/videos/video.webm" type="video/webm" />
				Seu navegador não suporta reprodução de vídeo.
			</video>
			<video class="max-w-[250px]" controls loop muted autoplay preload="metadata" width="230" height="407">
				<source src="/videos/video.webm" type="video/webm" />
				Seu navegador não suporta reprodução de vídeo.
			</video>
		</section>
	</main>
</section>
<!-- LAMINA 10 -->
<section class="w-full h-screen py-20 bg-black relative">
	<aside class="bg-[#61047b] pt-1 pb-5 pr-6 pl-8 rounded-tr-2xl rounded-br-2xl absolute top-[40px] left-[0px]">
		<div class="text-6xl text-white playfair italic font-bold leading-[52px] w-fit">
			<p>&nbsp;so</p>
			<span class="flex items-start w-fit h-fit"
				>think
				<div class="border-[1px] border-white rounded-full px-1 flex">
					<span class="text-xs">R</span>
				</div>
			</span>
		</div>
	</aside>
	<main class="w-full h-full flex flex-col gap-32 justify-center items-center">
		<span class="athiti text-4xl text-white">Cobertura de Shows e Eventos</span>
		<section class="w-full flex justify-center items-center gap-12">
			<video class="max-w-[255px]" controls loop muted autoplay preload="metadata" width="255" height="407">
				<source src="/videos/video.webm" type="video/webm" />
				Seu navegador não suporta reprodução de vídeo.
			</video>
			<div class="w-full h-full bg-[#FF66C4] rounded-[30px] max-w-[358px] max-h-[228px]">
				<span class="text-5xl font-bold text-center leading-[72px]">
					<p>FILME</p>
					<p>NATAL</p>
					<p>SOLIDARIO</p>
				</span>
			</div>
			<video class="max-w-[406px]" controls loop muted autoplay preload="metadata" width="406" height="314">
				<source src="/videos/video.mp4" type="video/mp4" />
				Seu navegador não suporta reprodução de vídeo.
			</video>
		</section>
	</main>
</section>
<!-- LAMINA 11 -->
<section class="w-full h-screen py-20 relative">
	<aside class="bg-[#61047b] pt-1 pb-5 pr-6 pl-8 rounded-tr-2xl rounded-br-2xl absolute top-[40px] left-[0px]">
		<div class="text-6xl text-white playfair italic font-bold leading-[52px] w-fit">
			<p>&nbsp;so</p>
			<span class="flex items-start w-fit h-fit"
				>think
				<div class="border-[1px] border-white rounded-full px-1 flex">
					<span class="text-xs">R</span>
				</div>
			</span>
		</div>
	</aside>
	<main class="w-full h-full flex flex-col gap-32 justify-center items-center">
		<span class="athiti text-4xl">Conteúdos Redes Sociais</span>
		<section class="w-full flex justify-center items-center gap-24">
			<img src="/images/feed-cast.png" width="284" height="100" />
			<img src="/images/post-cast.png" width="344" height="100" />
			<video class="max-w-[344px]" controls loop muted autoplay preload="metadata" width="344" height="472">
				<source src="/videos/cast.mp4" type="video/mp4" />
				Seu navegador não suporta reprodução de vídeo.
			</video>
		</section>
	</main>
</section>
<!-- LAMINA 12 -->
<section class="w-full h-screen py-20 relative">
	<aside class="bg-[#61047b] pt-1 pb-5 pr-6 pl-8 rounded-tr-2xl rounded-br-2xl absolute top-[40px] left-[0px]">
		<div class="text-6xl text-white playfair italic font-bold leading-[52px] w-fit">
			<p>&nbsp;so</p>
			<span class="flex items-start w-fit h-fit"
				>think
				<div class="border-[1px] border-white rounded-full px-1 flex">
					<span class="text-xs">R</span>
				</div>
			</span>
		</div>
	</aside>
	<main class="w-full h-full flex flex-col gap-32 justify-center items-center">
		<span class="athiti text-4xl">Criação de selos, logomarcas, identidades visuais e manuais</span>
		<section class="w-full flex justify-center items-center gap-24">
			<img src="/images/brand/bbj/1.png" class="max-w-[312px]" width="284" height="100" />
			<img src="/images/brand/bbj/2.png" class="max-w-[240px]" width="344" height="100" />
			<img src="/images/brand/bbj/3.png" class="max-w-[268px]" width="344" height="100" />
		</section>
	</main>
</section>
<!-- LAMINA 13 -->
<section class="w-full h-screen py-20">
	<main class="w-full h-full flex flex-col gap-8 justify-center items-center">
		<section class="w-full flex justify-center items-center gap-20">
			<img src="/images/brand/maeleoa/1.jpg" class="max-w-[314px]" width="500" height="100" />
			<img src="/images/brand/maeleoa/2.png" class="max-w-[188px]" width="500" height="100" />
			<img src="/images/brand/maeleoa/3.png" class="max-w-[184px]" width="500" height="100" />
		</section>
		<section class="w-full flex justify-center items-center gap-20">
			<img src="/images/brand/maeleoa/4.jpg" class="max-w-[344px]" width="500" height="100" />
			<img src="/images/brand/maeleoa/5.jpg" class="max-w-[246px]" width="500" height="100" />
			<img src="/images/brand/maeleoa/6.jpg" class="max-w-[242px]" width="500" height="100" />
		</section>
	</main>
</section>
<!-- LAMINA 14 -->
<section class="w-full h-screen py-20 px-36">
	<main class="w-full h-full flex flex-col gap-12 justify-center items-center">
		<section class="w-full flex justify-end items-center gap-8">
			<img src="/images/brand/hortaly/1.png" class="max-w-[332px] max-h-[332px]" width="1000" height="100" />
			<img src="/images/brand/hortaly/2.jpg" class="max-w-[714px]" width="1000" height="100" />
		</section>
		<section class="w-full flex justify-center items-center">
			<div
				class="bg-[url(/images/brand/hortaly/3.png)] max-w-[230px] w-full h-full bg-cover bg-center bg-no-repeat"
			></div>
			<div
				class="bg-[url(/images/brand/hortaly/4.png)] max-w-[230px] w-full h-full bg-cover bg-center bg-no-repeat"
			></div>
			<div
				class="bg-[url(/images/brand/hortaly/5.png)] max-w-[230px] w-full h-full bg-cover bg-center bg-no-repeat"
			></div>
			<img src="/images/brand/hortaly/6.png" class="max-w-[500px]" width="1000" height="100" />
		</section>
	</main>
</section>
<!-- LAMINA 15 -->
<section class="w-full h-screen py-20 px-36">
	<main class="w-full h-full flex gap-12 justify-center items-center">
		<img src="/images/brand/tuali/1.png" class="max-w-[624px]" width="1000" height="100" />
		<img src="/images/brand/tuali/2.png" class="max-w-[490px]" width="1000" height="100" />
	</main>
</section>
<!-- LAMINA 16 -->
<footer class="w-full h-screen">
	<main class="w-full h-full flex gap-16 py-12">
		<aside class="bg-[#61047B] flex items-center h-full rounded-tr-2xl rounded-br-2xl px-28">
			<article class="text-9xl text-white flex flex-col gap-5">
				<div class="playfair italic font-bold leading-[116px]">
					<p>&nbsp;so</p>
					<span class="flex items-start w-fit h-fit"
						>think
						<div class="border-2 border-white rounded-full px-2 pb-0.5 mt-3 flex">
							<span class="text-xl">R</span>
						</div>
					</span>
				</div>
				<span class="text-[24px] montserrat ml-3">agência de marketing</span>
			</article>
		</aside>
		<section class="w-[50vw] h-full flex flex-col justify-between items-center gap-20 py-8">
			<header class="w-full h-full athiti flex items-center justify-center gap-20">
				<div class="h-full flex flex-col justify-between">
					<div class="w-full">
						<span class="text-xl leading-[20px]">Atendimento<br />online</span>
					</div>
					<div class="w-full">
						<span class="text-xl leading-[20px]">Atendimento<br />presencial</span>
					</div>
					<div class="w-full flex justify-between items-center gap-">
						<span class="text-xl leading-[20px]">Meeting<br />place</span>
					</div>
					<div class="w-full flex justify-between items-center gap-">
						<span class="text-xl leading-[20px]">Agende<br />uma reunião</span>
					</div>
				</div>
				<div class="h-full flex flex-col justify-between">
					<div class="w-full">
						<span class="text-2xl font-medium leading-[24px]">
							<p>BRASIL</p>
							<p>ESPANHA</p>
							<p>INGLATERRA</p>
						</span>
					</div>
					<div class="w-full">
						<span class="text-2xl leading-[24px]">
							<p class="font-medium">BRASIL</p>
							<p>São Paulo</p>
							<p>ABC Paulista</p>
							<p>Sorocaba e Região</p>
						</span>
					</div>
					<div class="w-full">
						<img src="/images/meet.png" width="70" height="64" alt="Links Sothink" />
					</div>
					<div class="w-full">
						<img src="/images/whatsapp.png" width="70" height="64" alt="Links Sothink" />
					</div>
				</div>
			</header>
			<footer class="flex w-full items-center justify-center gap-6">
				<img src="/images/google.png" width="97" height="100" alt="Links Sothink" />
				<img src="/images/facebook.png" width="110" height="100" alt="Links Sothink" />
				<img src="/images/instagram.png" width="157" height="100" alt="Links Sothink" />
				<img src="/images/linkedin.png" width="132" height="100" alt="Links Sothink" />
				<img src="/images/spotify.png" width="120" height="100" alt="Links Sothink" />
			</footer>
		</section>
	</main>
</footer>
